<!-- Sending Dynamic data from views.py -->
<!-- <h1> -->
    <!-- Welcome, {{name}} <br> You are {{age}} years old <br> You are {{nationality}} -->
<!-- </h1> -->



<!-- Building a Word Counter -->
<!-- GET vs POST -->
<!-- CSRF Token -->
<!-- <h1>Input Your text below: </h1> -->
<!-- <form method="POST" action="counter"> -->
    <!-- {% csrf_token %} -->
    <!-- <textarea name="text" rows="25" cols="50"></textarea><br> -->
    <!-- <input type="submit"> -->
<!-- </form> -->


<!-- {% load static %} -->
<!-- Static Files in django -->
<!-- <link rel="stylesheet" href="{% static 'style.css' %}"> -->
<!-- <h1>Hey, Welcome to my project</h1> -->